@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #171717;
  }
}
.projectForm {
  display: flex;
  margin: 0 auto !important;
}
.footer {
  background-color: #0a0724;
  color: white;
}
.contry-tier-close-btn {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
.kyc-certificate-cross-icon {
  position: absolute !important;
  right: 30px !important;
}
