@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  color: var(--foreground);
  background: #0a0923;
  font-family: "Inter", serif;
}
button,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-family: "Inter", serif !important;
}
.gradient-bg {
  background: linear-gradient(to right, #5e5521, #d1b933) !important;
}
.theme-border {
  border: 1px solid #d1b933 !important;
}
.text-gradient {
  background: -webkit-linear-gradient(10deg, #d5c540, #fff495);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg-sharp {
  background: linear-gradient(
    10deg,
    rgba(11, 10, 28, 1) 70%,
    rgb(221 204 66 / 16%) 100%
  ) !important;
}

.light-purple {
  background-color: #17162b !important;
}
.theme-color {
  color: #ddcc42 !important;
}
.light-yellow-border {
  border: 1px solid #2a2a2a !important;
}
.theme-bg {
  background: #07061a !important;
}
.grey-color {
  color: #727272 !important;
}
.grey-border {
  border-color: #2a2a2a !important;
}
.dark-purple-bg {
  background: #080711 !important;
}

.card-verified-member .MuiBox-root {
  padding: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.projectForm {
  display: flex;
  margin: 0 auto !important;
}
.footer {
  background-color: #0a0724;
  color: white;
}
.container-fluid {
  max-width: 100% !important;
}
.main-navigation button {
  color: #e2d344;
  text-transform: capitalize;
  padding: 0;
  margin: 0 0 0 40px !important;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
}
.main-navigation .kyc-button {
  background: linear-gradient(to right, #5e5521, #d1b933);
  border: 1px solid #d1b933;
  padding: 11px 19px;
}
.projects-heading {
  background: -webkit-linear-gradient(10deg, #d5c540, #fff495);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-search-form input,
.project-search-form .MuiSelect-select {
  border: 1px solid #3b3b3b;
  padding: 11px 10px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  background-color: #040311;
}
.project-search-form input {
  padding: 9px 10px;
}
.project-search-form .MuiInputBase-formControl:hover fieldset {
  border: 1px solid #3b3b3b;
}
.featured-project {
  background: linear-gradient(
    0deg,
    rgba(6, 5, 25, 1) 0%,
    rgba(221, 204, 66, 1) 610%
  );
}
.projectForm {
  display: flex;
  margin: 0 auto !important;
}
.footer {
  background-color: #0a0724;
  color: white;
}
.contry-tier-close-btn {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
.kyc-certificate-cross-icon {
  position: absolute !important;
  right: 30px !important;
}
.projects-list-cont {
  gap: 24px;
}
.projects-list-cont .collunm {
  width: calc(33.33333% - 16px) !important;
  max-width: calc(33.33333% - 16px) !important;
  flex-basis: calc(33.33333% - 16px) !important;
}
.projects-pagination button {
  border: 1px solid #fff;
  border-radius: 6px;
  color: #e2d243;
  background: transparent;
  padding: 5px 20px;
}
.projects-pagination button:hover {
  border-color: #e2d243;
  color: #e2d243;
  background: transparent;
}

.single-card {
  background-image: url("/assets/card-bg-image.png");
  max-width: 523px;
}
.social-icons svg {
  font-size: 19px;
}

.card-tabs .Mui-selected {
  border: 1px solid #2a2857;
  background: rgb(10, 9, 35);
  background: linear-gradient(
    45deg,
    rgba(10, 9, 35, 1) 0%,
    rgb(76 71 164 / 67%) 100%
  );
  color: #fff !important;
}
.card-tabs .MuiTabs-flexContainer {
  gap: 10px;
  justify-content: space-between;
}
.card-tabs button {
  flex: auto;
}
.verified-text span {
  font-size: 14px;
  line-height: 17px;
}
